.right-panel {
  -webkit-box-flex: initial;
  -ms-flex: initial;
  flex: initial;
  width: 240px;
  background: #283142;
  -webkit-transition-property: width;
  transition-property: width;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #99a5be;
  z-index: 9;
  outline: none;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}