.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #181f29;
}
.content {
    display: flex;
    height: calc(100% - 40px);
}

.application-bar {
    height: 40px;
    line-height: 40px;
    background: #323e52;
    padding: 0 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #99a5be;
    border-bottom: 1px solid #202735;
    z-index: 301;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .left-operation {
        height: 100%;
        width: 236px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 236px;
        flex: 0 0 236px;
    }
    .editor-operation {
        display: flex;
        flex: 1 1000 auto;
        height: 100%;
    }
    .dsm-c-rp-icon-tooltip {
        display: inline-block;
        margin-left: 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        user-select: none;
        font-size: 16px;
        outline: none;
        color: #fff;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
    }
    .tooltip-seled {
        color: #009dff;
    }

    .dsm-c-rp-icon-tooltip-redo {
        display: inline-block;
        margin-left: 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        user-select: none;
        font-size: 16px;
        outline: none;
        color: #fff;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
    }
    .tooltip-disabled {
        color: #aaa;
    }
}